.dash-container {
  font-family: 'Georama', sans-serif;
  display: flex;
  // border: solid springgreen 5px;
  position: relative;
  background: #E6F0FD;
}
.dash-menu {
  position: fixed;
  width: 20%;
  // border: solid red 3px;
  background: #70829B;
  margin-right: 2rem;
  min-height: 100vh;
  padding: 1rem 0;
  padding-top: 2rem;
  & li {
    cursor: pointer;
    margin: 0.5rem 0;
    list-style: none;
    color: #ccc;
    padding: 1rem 2rem;
  }
}

.dash-active-item.dash-active-item{
  color: #fff;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.15), transparent);
}


.dash-content {
  margin-left: 21%;
  width: 60%;
  min-height: 90vh;
  background: #E6F0FD;
  // border: solid blueviolet 3px;
  padding-top: 4rem;
  padding-left: 10%;
}

//  ------ADD SONG COMPONENT-----
.add-song {
  display: flex;
  flex-direction: column;
  & h2 {
    font-family: 'Georama', sans-serif;
    color: #70829B;
    margin: 1rem;
    margin-top: -2rem;
  }
  & input, textarea {
    width: 60%;
    margin: .7rem;
    padding: 0.7rem 1rem;
    border-radius: .7rem;
    border: 1px solid #c1d8f8;
    outline: none;
    color: #70829B;
    background: #fff;
    box-shadow:  -1px -1px 2px #fff, 1px 1px 2px #a4b6cf;
  }
  & button {
    border: 1px solid #c1d8f8;
    outline: none;
    margin: 1rem;
    width: 12%;
    border-radius: 0.4rem;
    background-color: #70829B;
    color: #fff;
    padding: 0.7rem 1rem;
    cursor: pointer;
    box-shadow:  -1px -1px 4px #fff, 1px 1px 4px #9aacc5;
    &:active {
      background: #4e5e75;
    }
  }
}

.color-input-container{
  & input{
    width: 25%;
  }
  }

//  ------DELETE SONG COMPONENT-----
.delete-song {
  & input{
    font-size: 110%;
    width: 60%;
    margin: 1rem ;
    margin-left: .3rem;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    border: 1.2px solid rgb(216, 216, 216);
    outline: none;
    color: rgb(83, 83, 83);
    box-shadow:  -1px -1px 2px #fff, 1px 1px 2px #a4b6cf;
    &:hover {
    box-shadow:  -1px -1px 4px #fff, 1px 1px 4px #a4b6cf;
    }
  }
  & h3 {
    width: fit-content;
    margin: 1rem;
    cursor: pointer;
    margin: 0.5rem;
    list-style: none;
    background: #70829B;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    & button {
      background: #fff;
      color: #70829B;
      border: none;
      border-radius:.4rem ;
      padding: .4rem;
      margin-left: .5rem;
    }
  }
}




// --------------DeleteSong-component------------

.song-details{
  position: relative;
  border-radius: .5rem;
  background: #fff;
  display: flex;
  width: 40%;
  margin: .5rem;
  padding: .5rem;
  box-shadow:  -1px -1px 2px #fff, 1px 1px 2px #a4b6cf;
  & img{
    width: 2rem;
    margin-right: 1rem;
  }
  & .name{
    color: rgba(63, 63, 63, 0.6)
  }
  & .artist{
    font-size: 80%;
    color: rgba(117, 117, 117, 0.6)
  }
  & button{
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 0.4rem .8rem;
    cursor: pointer;
    color: #fff;
    background: #7e92af;
    border: none;
    border-radius: .4rem;
    outline: none;
    box-shadow:  -1px -1px 4px #fff, 1px 1px 4px #a4b6cf;
    &:active{background:#62738a;}
  }
}

// ---------TRASH-COMPONENT----------
.trash-item-btn{
  width: 5rem;
  top: 0rem;
  right: .5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  & button{
    position: relative;
  }
}