nav {
  position: relative;
  margin: 0 auto;
  width: 50%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  h1 {
    font-size: 180%;
    font-weight: 500;
  }
  h1+svg{
    position: absolute;
    z-index: 2;
    padding: .5rem;
    top: center;
    cursor: pointer;
    right: 5%;
    border-radius: 50%;
    background: #E1EEFD;
    border: 1px solid #c8daf1;
    box-shadow:  -2px -2px 4px rgb(255, 255, 255), 2px 2px 4px #a4b6cf;
    &:active{
      background: #7AA9FF;
        color:#fff;
        box-shadow: inset .5rem .5rem 1rem #4389FF;
    }
  }
}


.moon {
  margin-left: 0.4rem;
  font-size: 80%;
  cursor: pointer;
  &:hover {
    font-size: 78%;
  }
}

@media screen and (max-width: 900px) {
  nav {
    width: 80%;
  }
}

//   --------------------------NIGHT-MODE-STYLES---------------------

.nav-night{
  h1+svg{
    border: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.808),  -3px -3px 8px rgba(255, 255, 255, 0.267), inset 4px 4px .5rem rgba(255, 255, 255, 0.233);
    &:active{
        border: rgb(110, 110, 110) solid 1px;
        color: #333;
        background: rgb(231, 231, 231);
        box-shadow: inset 4px 4px 1rem #7a7a7a,inset -4px -4px 1rem #ccc;
    }

  }
}