
nav{
    margin: 0 auto;
    padding-top: 5vh;
    width: 50%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        z-index: 2;
        border: 2px solid rgb(65,65,65);
        border-radius: .2rem;
        background: transparent;
        color: rgb(65,65,65);
        transition: all ease-in 0.3s;
        padding: 1.5%;
        cursor: pointer;
        &:hover{
            color: #FFF;
            background: rgb(65,65,65);
        }
        span{
            font-size: 120%;
            margin-right: 5px;
        }
     }
    h1{ 
        font-size: 180%;
        font-weight: 500;
    }
}
.moon{
    margin-left: .4rem;
    font-size: 80%;
    cursor: pointer;
    &:hover{
        font-size: 78%;
    }
}

@media  screen and (max-width: 900px) {
    nav{
        width: 80%;
    }
    }