@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import './player';
@import './song';
@import './library';
@import './nav';

*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    font-family: 'Georama', sans-serif;
    color: rgb(56, 56, 56);
    transition: all 0.3s;
}
.night-mode{
    background-color: #061626 ;
    color: rgb(204, 204, 204);
    border-color:rgb(204, 204, 204) ;
}
.library-added{
    width: 75%;
    padding-left: 25%;
}
@media only screen and (max-width: 700px) {
    .library-added{
        width: 100%;
        padding: 0%;
   }
   }

